<div class="tiblevl" id="tableVL"> Таблица дерби на Якоби</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
<script src="script\newGame.js"> </script>  
   
   
   
   
   <div class="leftmenu"> Результаты игр
        <div class="leftmenutable" id="leftmenutable"> </div>
    </div>
<div class="rightmenu"> <img src="pic\1.JPG"> </div>
<div class="test"></div>
<script src="script\testobj.js"> </script>
<script src="script\paintTable.js"> </script>
<script src="script\result.js"> </script>
<script src="script\update.js"> </script>


             
    


    

<p class="tiblevl" onclick="result()" id="first"> Результаты прошедших игр </p> 
<input type="button" value="Обновить" onclick="update1()" class="tiblevl" id="update"><br>

<canvas id ="can1" width="200" height="200" class="tiblevl"> </canvas>
<input type="color" id="color" class="tiblevl">
<script src="script\canvastest.js"> </script>
<!-- this can be commit-->
